* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin:0;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 4em;
display:flex;
justify-content: center;
align-items: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

main{
    background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: whitesmoke;
max-width: 500px;
padding: 4em;
text-align: center;

}
/* typography */

h3{
    font-size: 1.8em;
    color:#f3ab02;
    margin:0;
    padding:0;
    margin-bottom:30px;
    font-weight: lighter;
    text-shadow: 2px 0 0 #0F2027, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #0F2027;
}

.container {
background-color: indianred;

}
#nameList{
    background: linear-gradient(to right, #fff 20%, #fff 20%, #ECD08C 80%, #ECD08C 85%, #ECD08C 90%, #ECD08C 100%);
    ;
    padding: 1em;
    border-radius: 11px;
}
.dwarf {
background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
padding: 0.5em;
margin: 0.5em;
list-style: none;
font-weight:lighter;
letter-spacing: 2px;
font-size: 1em;
color:rgb(248, 74, 6);
}


#search-name{
    border: none;
    border-radius: 5px;
    text-indent:10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    padding: 0.25em;
    width:200px;
    
}
input:focus  {
    box-shadow: 0 0 5px rgb(243, 171, 4);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgb(243, 171, 4);
  }

label {
    font-size: 13px;
    font-weight: bold;
    color:rgb(46, 7, 7);
  
}

.bounce {
   position: relative;
    background:lightskyblue;
    animation:bounce 2s infinite;
  }
  
 @keyframes bounce {
    0%       { bottom:5px; }
    25%, 75% { bottom:10px; }
    50%      { bottom:20px; }
    100%     {bottom:0;}
  }

  .border {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #fff 20%, #fff 40%, #ECD08C 50%, #ECD08C 55%, #fff 70%, #fff 100%);
    background-size: 200% auto;
    
    animation: shine 3s linear infinite;
  }
  
  /*Begin shimmer code*/
  
  @keyframes shine {
      to {
        background-position: 200% center;
      }
    }fff